@page "/admin"
@attribute [Authorize]
@inject IRoomRepository RoomRepository
@inject IStringLocalizer<HandleRooms> Localizer

<h1>@Localizer["Header"]</h1>

<EditForm Model="createRoomModel" OnValidSubmit="HandleValidCreateRoomSubmit">
    <LocalizedDataAnnotationsValidator />

    @if (createdRoom is not null)
    {
        <input class="alert-state" id="room-created-alert" type="checkbox" @bind="hideCreatedRoomDialog" />
        <div class="alert alert-success background-success dismissible">
            <div>
                <h3>@((MarkupString)Localizer["Alert, room created, header", RoomIdParser.Format(createdRoom.Id)].Value)</h3>
                <p><a href="/@createdRoom.Id">@Localizer["Alert, room created, enter room link", RoomIdParser.Format(createdRoom.Id)]</a></p>
            </div>
            <label class="btn-close" for="room-created-alert">X</label>
        </div>
    }

    <div class="row">
        <div class="col sm-8">
            <div class="form-group">
                <label for="roomName">@DisplayNameTranslations.CreateRoomViewModel_Name</label>
                <InputText class="input-block border-3" type="text" id="roomName" @bind-Value="createRoomModel.Name" />
                <ValidationMessage For="() => createRoomModel.Name" />
            </div>
        </div>
        <div class="sm-4 col">
            <button class="border-5" type="submit" style="margin-top: 1.4rem">@Localizer["Create room, submit"]</button>
        </div>
    </div>
</EditForm>

<h2>@Localizer["Header, existing rooms"]</h2>

@if (rooms.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th style="width: 5.5rem">@Localizer["Table header, room ID"]</th>
                <th class="rooms-table-room-name">@Localizer["Table header, room name"]</th>
                <th>@Localizer["Table header, actions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in rooms.OrderBy(o => o.Name).ThenBy(o => o.Id))
            {
                <tr>
                    <td>@RoomIdParser.Format(room.Id)</td>
                    <td class="rooms-table-room-name">@room.Name</td>
                    <td class="row flex-middle">
                        <span>
                            <a href="/@RoomIdParser.FormatForUrl(room.Id)" target="_blank">
                                <img class="no-border" src="/img/external-link.svg" style="width: 2rem; float: left;"
                                    title="@Localizer["Action, open, image tooltip", RoomIdParser.Format(room.Id)]"
                                    alt="@Localizer["Action, open, image alt"]"
                                />
                            </a>
                        </span>
                        <button type="button" style="padding: 0; width: 2rem;" @onclick="@(_ => deleteRoom = room.Id)">
                            <img class="no-border" src="/img/delete.svg" style="width: 2rem; float: left;"
                                title="@Localizer["Action, remove, image tooltip", RoomIdParser.Format(room.Id)]"
                                alt="@Localizer["Action, remove, image alt"]"
                            />
                        </button>
                        @if (deleteRoom == room.Id)
                        {
                            <div class="danger">
                                @Localizer["Remove room, confirmation", RoomIdParser.Format(room.Id)]
                                <button type="button" class="btn-danger btn-small" @onclick="@(_ => HandleDeleteRoom(room.Id))">
                                    @Localizer["Remove room, confirm button"]
                                </button>
                                <button type="button" class="btn-primary btn-small" @onclick="@(_ => deleteRoom = null)">
                                    @Localizer["Remove room, abort button"]
                                </button>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        @Localizer["Table replacement when empty"]
    </p>
}

@code {

    private CreateRoomViewModel createRoomModel = new CreateRoomViewModel();

    private bool hideCreatedRoomDialog = true;

    private RoomModel? createdRoom;

    private IReadOnlyCollection<RoomModel> rooms = Array.Empty<RoomModel>();

    private int? deleteRoom;

    protected override void OnInitialized()
    {
        UpdateRoomsList();
    }

    private void UpdateRoomsList()
    {
        rooms = RoomRepository.FindRooms();
    }

    private void HandleDeleteRoom(int roomId)
    {
        deleteRoom = null;
        RoomRepository.DeleteRoom(roomId);
        UpdateRoomsList();
    }

    private void HandleValidCreateRoomSubmit()
    {
        if (createRoomModel.Name is null)
        {
            return;
        }

        createdRoom = RoomRepository.CreateRoom(new NewRoomModel(createRoomModel.Name));
        hideCreatedRoomDialog = false;
        UpdateRoomsList();
    }

}
